* {
    padding: 0;
    margin: 0;
   
}



.text-color{
    color: #9fb5b2 ; 
}

.heading-color{
    color:#364a15 ;
}

.shop-color{
    color:#8e6a1d ;
}

.bg-gre{
    background: #eefcf2;
}
/* 
.menu a{
    color: #9fb5b2 ;
    font-size: 20px;
    
}


.english a{
    display: flex;
    justify-content: space-between;
    color: #9fb5b2 ;
    text-decoration: none;
}

.english h1{
    font-size: 27px;
    margin-left: 10px;
   
}

.english ul{

    list-style: none;


}  */






.navbar .active {
    color: #333;
    margin: 0px 20px;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    padding: 10px 10px;

}


.main-logo img{
    cursor: pointer;
   width: 200px;
   height: 50px;
  
}




